.tableBox
  table.table
    width 100%
    thead tr,
    tbody tr
      box-sizing border-box
      text-align left
      border-bottom 1px solid #e4e4e4
    thead tr th,
    tbody tr td
      padding-left 20px
    thead tr
      height 50px
      line-height 30px
      vertical-align bottom
      th
        padding-left 20px
    tbody tr 
      height 35px
      line-height 35px  
        