.content_box
  .content_box_top
    .top-title Subscription
    .top-btns
      .top-btn-add
        i.iconFont.icon-add2
        span Add Aubscription
  .content_box_main
    .tableBox
      table.table
        colgroup(width='26%')
        colgroup(width='7%')
        colgroup(width='12%')
        colgroup(width='13%')
        colgroup(width='11%')   
        colgroup(width='11%')
        colgroup(width='20%')
        thead
          tr
            th Subscribe Name
            th Status
            th Freuency
            th Processing Status
            th Update Date
            th Recent Sending
            th
        tbody
          tr 
            td 11
            td On
            td By day
            td Completed
            td 2017-10-18
            td 2017-10-18
            td 
              span 编辑
              span 删除
              span 历史报告