@require "./common/css/base"
@require "./common/css/table"

#main_content
  position relative
  box-sizing border-box
  header#header
    position relative 
    height 40px
    width 100%
    background linear-gradient(to right, #333, #646464)
    ul.nav
      li
        position relative 
        height 100%
        line-height 40px
        float left
        a
          padding 0 15px
          font-size 13px
          color #fff
        &:hover
          background orange
  .content_box
    min-height calc(100vh - 100px)
    border 1px solid red
    .content_box_top
      height 66px
      width 100%
      padding 0 20px
      box-sizing border-box
      border-bottom 1px solid #e6e6e6
      .top-title
        float left
        font-size 30px
        font-weight 100
        line-height 66px
        color #333
      .top-btns
        float right
        //margin-right 10px
        margin-top 15px
        height 30px
        line-height 30px
        &.his-right-btn
          margin-top 18px
        .top-btn-add
          position relative
          z-index 11
          min-width 80px
          height 100%
          padding 0 10px
          font-size 14px
          text-align center
          cursor pointer
          background #fff
          border 1px solid #d5d5d5
          x-transition(all linear 0.3s)
          &:hover
            //border-color #b4b4b4
            background #f2f2f2
            color #333
            x-transition(all linear 0.3s)
    .content_box_main
      position relative
      padding 0 20px
      box-sizing border-box
      background #fff

    