@require "./common/css/base"


#main_content
  position relative
  box-sizing border-box
  header#header
    position relative 
    height 40px
    width 100%
    background linear-gradient(to right, #333, #646464)
    ul.nav
      li
        position relative 
        height 100%
        line-height 40px
        float left
        a
          padding 0 15px
          font-size 13px
          color #fff
        &:hover
          background orange
  .content_box
    min-height calc(100vh - 100px)
    border 1px solid red

    